@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Cormorant:wght@600&display=swap');

@font-face {
    src: url('fonts/Frunchy.otf');
    font-family: frunchy;
}


:root {
  --primary-color: #03604C;
  --secondary-color: #E4EB9A;
  --avocado: #67910d;
  --watermelon: #f0645a;
  --apricot: #FDCFB5;
  --sunshine: #FFC64A;

  /* change the values below to your chosen font(s) */
  --heading-font: 'frunchy', Cormorant, serif;
  --paragraph-font: "Alegreya Sans", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #03604C;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #03604C; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #03604c;
  --nav-link-color: #03604C;
  --nav-background-color: #E4EB9A;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #68920E;
}

body {
    margin: 0 auto;
    max-width: 2300px;
    background-color: var(--secondary-color);
}

h1, h3, h4 {
    font-family: var(--heading-font);
}

h1 {
    font-size: 6em;
    line-height: 80px;
    margin-bottom: 50px;
    margin-top: 50px;
}

h2 {
    font-family: var(--paragraph-font);
    text-transform: uppercase;
    font-size: 2.5em; 
}

h3 {
    font-size: 4em;
    margin: 0 auto;
}

h4 {
    font-size: 2.5em;
}

p {
    font-family: var(--paragraph-font);
    font-size: 1.3em;
}

header {
    width: 100%;
}

.hidden-header {
    display: none;
}

#header-logo {
    height: 200px;
    display: block;
    margin: auto;
}

header * {
    display: inline;
}

header ul {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 3em;
}

header ul li {
    display: flex;
    justify-content: center;
}

header ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-family: var(--paragraph-font);
}

header ul li a:hover {
    color: var(--watermelon);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--secondary-color);
}

.sticky a:hover {
    color: white;
}

.sticky + main {
  padding-top: 60px;
}

.hero {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 40% 30% 20% 10%;
    max-height: 1000px;
}

.hero-image {
    width: 100%;
    max-height: 1000px;
    grid-column: 1/4;
    grid-row: 1/5;
    object-fit: cover;

}

.page-title {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

.page-subtitle {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}

.hero .button-box { 
    grid-column: 2/3;
    grid-row: 3/4;
}

.button-box {
    width: 200px;
    height: 75px;
    border-radius: 3px;
    margin: auto;
    text-align: center;
    background-color: var(--avocado);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box:hover {
    background-color: var(--watermelon);
}

.button-box a {
    color: white;
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-size: 1.6em;
    padding: 20px;
}

#welcome {
    background-color: var(--primary-color);
    color: var(--headline-color-on-color);
    text-align: center;
    padding-top: 75px;
    padding-bottom: 250px;
}

#welcome h2, #welcome p {
    width: 50%;
    margin: 50px auto;
}

.learn-more-link {
    color: white;
    font-family: var(--paragraph-font);
    text-decoration: none;
    font-size: 1.1em;
}

.learn-more-link:hover {
    color: var(--watermelon);
}

#about-the-owner {
    display: grid;
    grid-template-columns: 15% 32.5% 5% 32.5% 15%;
    margin-bottom: 200px;
    place-items: center;
}

#home-profile {
    margin-top: -100px;
    width: 100%;
    min-width: 275px;
    max-width: 450px;
    grid-column: 4/5;
    grid-row: 1/2;
}   

#about-owner-msg {
    margin-top: 75px;
    width: 100%;
    min-width: 275px;
    grid-column: 2/3;
    grid-row: 1/2;
}

#about-owner-msg p {
    color: black;
}

#plug {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 5% 42.5% 5% 32.5% 15%;
    place-items: center;
}

#plug-msg {
    width: 100%;
    min-width: 275px;
    margin-top: 25px;
    grid-column: 4/5;
    grid-row: 1/2;
}

#veggie-collage {
    width: 100%;
    min-width: 275px;
    max-width: 450px;
    grid-column: 2/3;
    grid-row: 1/2;
}

#plug p {
    color: black;
}

#plug .learn-more-link {
    color: black;
}

#plug .learn-more-link:hover {
    color: var(--watermelon);
}

#highlights {
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 100px;
    background-color: var(--primary-color);
}

#highlights h3 {
    color: var(--headline-color-on-color);
    text-align: center;
}

#service-cards {
    display: flex;
    margin: 75px auto;
    justify-content: center;
}

.service-card {
    width: 22%;
    margin: 40px;
}

.service-card img {
    width: 100%;
}

.service-card h4, p {
    color: white;
    margin-bottom: 35px;
}

footer {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 25% 15% 20% 15% 25%;
    font-size: 0.8em;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

#admin {
    grid-column: 2/3;
    text-align: right;
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#footer-logo {
    width: 100%;
    grid-column: 3/4;
}

#footer-nav {
    grid-column: 4/5;
    margin-top: auto;
    margin-bottom: auto;
}

/*                    About Me Page                      */

#about-me-title {
    grid-row: 1/4;
    display: flex;
    align-self: center;
}

#owner-intro {
    display: grid;
    grid-template-columns: 10% 37% 100px 37% 10%;
}

#about-profile {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    display: flex;
    justify-self: right;
    max-width: 450px;
    margin-top: 125px;
    margin-bottom: 100px;
}

#about-msg {
    grid-column: 4/5;
    grid-row: 2/3;
    width: 100%;
    max-width: 500px;
    margin-top: 125px;
    margin-bottom: 100px;
}

#about-msg p {
    color: black;
}

#two-column {
    display: grid;
    grid-template-columns: 10% 37% 6% 37% 10%;
    height: 600px;
    width: 100%;
    margin-bottom: 100px;
}

#background-image {
    grid-column: 1/6;
    grid-row: 1/2;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

#two-column p:nth-of-type(1) {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

#two-column p:nth-of-type(2) {
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: center;
}

#three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
    margin-right: 100px;
    place-items: center;
    margin-bottom: 100px;
}

#three-column h2 {
    grid-column: span 5;
    grid-row: 1/2;
    display: flex;
    justify-self: center;
    margin-bottom: 100px;
}

.priority {
    max-width: 350px;
}

.priority:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 75%;
    text-align: center;
}

.priority:nth-of-type(1) p {
    color: black;
}

.priority:nth-of-type(1) img {
    height: 200px;
    width: 200px;
}

.priority:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 75%;
    text-align: center;
}

.priority:nth-of-type(2) p {
    color: black;
}

.priority:nth-of-type(2) img {
    height: 200px;
    width: 200px;
}

.priority:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 75%;
    text-align: center;
}

.priority:nth-of-type(3) p {
    color: black;
}

.priority:nth-of-type(3) img {
    height: 200px;
    width: 200px;
}

#contact {
    display: grid;
    grid-template-columns: 10% 37% 100px 37% 10%;
    background-color: var(--primary-color);
}

#contact-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    max-width: 600px;
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: right;
    display: flex;
    justify-self: right;
    flex-direction: column;
}

#contact-msg h2 {
    color: white;
}

#contact-msg p {
    color: white;
}

#contact-msg div {
    margin-top: 50px;
}

#contact-image {
    grid-column: 4/5;
    grid-row: 2/3;
    width: 100%;
    max-width: 500px;
    margin-top: 125px;
    margin-bottom: 100px;
}

/*    --------------------     Services & Tests Page      --------------        */

#service-nav {
    background-color: var(--primary-color);
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    line-height: 2em;
    overflow: hidden;
}

.dropdown {
    font-family: var(--paragraph-font);
    font-size: 1.2em;
    text-align: center;
    float: left;
    overflow: hidden;
    padding: 20px 0;
}

.dropdown .dropdown-button {
    border: none;
    outline: none;
    padding: 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover { 
    background-color: var(--avocado); 
}

#service-nav a {
    color: white;
    background-color: var(--primary-color);
    text-decoration: none;
    float: none;
    padding: 20px;
    display: block;
    text-align: left;
}

#service-nav a:hover, .dropdown:hover .dropdown-button{
    background-color: var(--avocado);
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 20px
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 33.33%;
}

.service-summary {
    display: grid;
    grid-template-columns: 15% 32.5% 5% 32.5% 15%;
    margin-bottom: 100px;
    margin-top: 100px;
    place-items: center;
}

.service-msg {
    width: 100%;
    min-width: 375px;
    grid-column: 4/5;
    grid-row: 1/2;
    margin-top: 50px;
}   

.service-image {
    margin-top: 10%;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.service-msg p {
    color: black;
}

#price {
    font-family: var(--heading-font);
    font-size: 3.5em;
}

.service-details {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--avocado);
}

.detail-card {
    display: flex;
    direction: ltr;
    padding: 25px;
    align-items: center;
}

.detail-card img {
    max-width: 100px;
    max-height: 100px;
}

.detail-card p {
    padding: 25px;
}

.order-now {
    text-align: center;
    padding: 200px;
    padding-left: 10%;
    padding-right: 10%;
}

.order-now h4 {
    font-family: var(--paragraph-font);
    font-size: 2.5em;
}

/* Slideshow container */
.reviews-slideshow {
    position: relative;
    width: 100%;
    height: 500px;
}

#reviews-background {
    object-fit: cover;
    width: 100%;
    height: 500px;
    z-index: -1;
}
  
/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    z-index: 1;
    margin-top: -375px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* Add an italic font style to all quotes */
q {
    font-style: italic;
    color: white;
    font-family: var(--paragraph-font);
    font-size: 1.5em;
}

/* Add a blue color to the author */
.author {
    color: white;
    font-family: var(--paragraph-font);
    font-size: 2em;
}

/*         the hero image needs adjusting under 1000px other adjustments necessary under 1350        */